<!DOCTYPE html>
<html>
<head>
  <title>Mental Health Articles Recommender</title>
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" > -->
</head>
<body style="background-color: aqua;">
  <h1 style="color:darkgreen;">Enter input words</h1>
  <form method="post" action="/">
    <input type="text" name="input_words" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
